/* Add CSS Styling */

.impares {
    background-color: rgb(255, 165, 210);
    font-family: verdana , "DejaVu Sans" , sans-serif
    


}


#numero2 {
    color: rgb(0, 4, 255); font-size: 36px;
}


#numero4 {
    background-color: rgb(0, 248, 58); font-weight: bold; 
}

.tamano24 {
    font-size: 24px;
}