body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  
  

}

.title {
  background: #e3f4ff;
  padding: 15px;
  font-size: 16px;
  
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 15px;

}

.button-container {
  
  box-sizing: border-box;
  background: #e3f4ff;
  
  margin-top: 10px;
  height: 67px;
  width: 400px;
  padding-left: 144px;
  
 

}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  margin-left: 0px;
  
  
  

}